<!DOCTYPE html>
<html lang="en">
<body>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles1.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <nav>
        <label class="logo"><span class="blue">BOOK</span>FLIX</label>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('sign_up') }}">Sign up</a></li>
        </ul>
    </nav>
       <section>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
       </section>

    
    </body>
</html>
